<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="../../app.js" defer></script>
    <link rel="stylesheet" href="./pantallaCarga-css.css" />
    <title>Pantalla de carga</title>
  </head>
  <body>
    <div class="content-carga">
      <div class="content_tractor">

        <div class="tractor_base_1"></div>
        <div class="tractor_base_2"></div>

        <!-- ventana-->
        <div class="ventana"></div>

        <!-- llanta traser-->
        <div class="content-llanta-trasera">
          <div class="position-llanta-trasera">
            <div class="guardabarro-trasero">
              <div class="espacio-guardabarro-llanta"></div>
            </div>

            <div class="llanta-trasea">
              <div class="llanta-interna">
                <div class="rin-llanta-trasera"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- llanta delantera-->
        <div class="content-llanta-delantera">
          <div class="position-llanta-delantera">
            <div class="guardabarro-delantera">
              <div class="espacio-guardabarro-llanta-delantera"></div>
            </div>

            <div class="llanta-delantera">
              <div class="llanta-interna-delantera">
                <div class="rin-llanta-delantera"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- escape de humo-->

        <div class="content-humo">
          <div class="content-tubos-humos">
            <div class="tubo-humo-1"></div>
            <div class="tubo-humo-2"></div>
          </div>

          <div class="humo-1"></div>
          <div class="humo-2"></div>
          <div class="humo-3"></div>
          <div class="humo-4"></div>

        </div>


      </div>
    </div>
  </body>
</html>
